*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan',sans-serif;
}

body {
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(231deg,rgba(22,6,40,1) 0%,rgba(52,28,79,1) 50% , rgba(88,7,125,1) 100%);
    background-repeat: no-repeat;
}

.cantainer{
    width: 90%;
    max-width: 450px;
}

h1{
    color:white;
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height:1.2;
}

.display_cantainer{
    position: relative; 
    /* operrlap karasathi */
    background-color: rgb(224, 13, 224);
    border-radius: 1rem;
    border-bottom: 0.35rem solid black;
    margin: 1.1rem;
    padding-bottom: 0.35rem;
}

.display{
    background-color: transparent;
    padding :1rem 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    color: white;
    border: none;
}

.display::placeholder {
    position: absolute;
    top :50%;
    left :1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: yellow;
    opacity :0.65;
    text-transform:uppercase;
    transform: translateY(-50%);
}

.display_cantainer button {
    position: absolute;
    top:50%;
    right:1.5rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.input_cantainer {
    background-color: rgb(79, 29, 101);
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
    border-bottom: 0.35rem solid black;
}

.length_cantainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length_cantainer p:nth-child(1) {
    color: white;
    font-size: 1.5rem;
}

.length_cantainer p:nth-child(2) {
    color: yellow;
    font-size: 1.5rem;
}

.strngth_cantainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.strngth_cantainer p {
    color: white;
    font-size: 1.5rem;
}

.indicator{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: white;
}

.generateBtn{
    width: 100%;
    padding: 1rem 0;
    background-color: rgb(164, 30, 164);
    color: yellow;
    text-align: center;
    cursor: pointer;
    border-radius: 0.75rem;
    border-bottom: 0.35 solid yellow;
    letter-spacing: 1px;
    font-style: 600;font-size: 1.25rem;
}

.check {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem 0;
}

.check input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid cyan;
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}

.check input:checked {
    background-color: cyan;
}

/* psudo eliminator */
.check input:checked::before {
    content:'/';
    position: absolute;
    color: black;
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    top: -3.5px;
    transform: translateX(-50%);
    transform: translateY(40%);
}

.check label {
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.7px;
}










